<form method="post" action="/env">
  <div class="panel panel-default">
    <div class="panel-heading">
      Current Environment
    </div>
    <div class="panel-body">
      <select name="new_env">
        <% @envs.each do |nickname, env| %>
          <% if env.options[:merchant_id] == @current_merchant_id %>
            <option selected="selected" value="<%= nickname %>"><%= nickname %> - <%= env.options[:merchant_id] %></option> 
          <% else %>
            <option value="<%= nickname %>"><%= nickname %> - <%= env.options[:merchant_id] %></option> 
          <% end %>
        <% end %>
      </select>
    </div>
    <div class="panel-footer">
      <input class="btn btn-default" type="submit" value="Change env">
    </div>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
    Successful Transactions
  </div>
    <table class="table">
      <thead>
        <tr>
          <td>ID</td>
          <td>Status</td>
          <td>Instrument Type</td>
        </tr>
      </thead>
      <tbody>
      <% @braintree_requests.each do |request| %>
      <% next if request.id.nil? %>
        <tr>
          <td><%= request.id %></td>
          <td><%= request.status %></td>
          <td><%= request.payment_instrument_type %></td>
          <td>
            <form action="/transaction/<%= request.id %>/void" method="post">
              <a class="btn btn-default" href="<%= request.control_panel_url%>">&#8613; Control Panel</a>
              <button type="submit" class="btn btn-warning">Void</button>
            </form>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Unsuccessful Transactions
  </div>
    <table class="table">
      <thead>
        <tr>
          <td>Message</td>
          <td>Request</td>
        </tr>
      </thead>
      <tbody>
      <% @braintree_requests.each do |request| %>
      <% next unless request.id.nil? %>
        <tr>
          <td><%= request.error_message %></td>
          <td><%= request.params.inspect %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
